<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MedCare | Get Started</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/aboutus.css">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

  <style>
    body {
      padding-top: 3.5rem;
      /* background-color: #E3FEF7; */
      background-color: #77B0AA
    }

    nav {
      font-family: sans-serif;
      background-color: #003C43;
    }

    .navbar-brand {
      font-size: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  </style>

</head>

<body>
  <form id="form1">
    <header>
      <!--Navigation Bar-->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top ">
        <a class="navbar-brand" href="#"><b>MedCare</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/dashboard">Get Started</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/disindex">Disease Index</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cancer">Breast Cancer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/diabetes">Diabetes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/heart">Heart Disease</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/kidney">Kidney Disease</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/parkinson">Parkinson's Disease</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">|</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li> -->
          </ul>
        </div>
      </nav>

      <main role="main">
      <div >
        <div class="jumbotron" style="background-color: #E3FEF7;">
          <div class="container">
            <h1 class="display-4">Hello! Lets Get Started with MedCare</h1>
            <p>Welcome to MedCare!, a cutting-edge online disease prediction web application designed to revolutionize healthcare accessibility. 
              MedCare aims to empower individuals to take proactive steps towards managing their health by providing early detection and tailored 
              recommendations. With its user-friendly interface and comprehensive database, MedCare is poised to become an indispensable tool for 
              seeking health insights.
              Click below to learn about the diseases that MedCare is capable of predicting.</p>
            <p><a class="btn btn-primary btn-lg" href="/disindex" role="button">Get Started &raquo;</a></p>
          </div>
        </div>

        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <h2>1. Cancer Prediction</h2>
              <p>Navigate to the "Cancer" section and add the corresponding details and click on predict to learn
                whether there is a risk of this illness/disease.</p>

            </div>
            <div class="col-md-4">
              <h2>2. Diabetes Prediction</h2>
              <p>Navigate to the "Diabetes" section and add the corresponding details and click on predict to learn
                whether there is a risk of this illness/disease.</p>

            </div>
            <div class="col-md-4">
              <h2>3. Heart Disease</h2>
              <p>Navigate to the "Heart Disease" section and add the corresponding details and click on predict to learn
                whether there is a risk of this illness/disease.</p>

            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <h2>4. Kidney Disease</h2>
              <p>Navigate to the "Kidney Disease" section and add the corresponding details and click on predict to
                learn whether there is a risk of this illness/disease.</p>

            </div>
            <div class="col-md-4">
              <h2>5. Parkinsons Disease </h2>
              <p>Navigate to the "Parkinsons Disease" section and add the corresponding details and click on predict to learn
                whether there is a risk of this illness/disease.</p>

            </div>
            <div class="col-md-4">
              <h2>6. Disease Index</h2>
              <p>Navigate to the "Disease Index" section and gain in-depth information about each of these diseases.</p>

            </div>
          </div>
        </div>
        <hr>
      </div>
      </main>

      <footer class="container">
        <p>&copy;medcare. All Rights Reserved</p>
      </footer>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
      <script src="../assets/dist/js/bootstrap.bundle.js"></script>
    </header>
  </form>
</body>

</html>